name: Build configs
# i'll put this here for now
on:
#   schedule: 
#     - cron: '0 12 * * 3'
  workflow_dispatch:
  workflow_run:
    workflows: ["flake-bump"]
    types:
      - completed



env:
  CACHIX_NAME: ${{ secrets.CACHIX_NAME }}
  CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}

jobs:
  build-home-manager:
    runs-on: ubuntu-latest
    env:
      HM_PROFILE: revan
      CACHIX: dat-antho-shared
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - uses: cachix/cachix-action@v15
        with:
          name: ${{ env.CACHIX }}
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build Home Manager activation package
        run: |
          nix build --accept-flake-config --print-build-logs --no-link \
            .#homeConfigurations.${HM_PROFILE}.activationPackage

# discover the nixos config names to have a dynamic way of building every config
  discover:
    runs-on: ubuntu-latest
    needs: build-home-manager # we build a home-manager config first to have all the shared depencies built beforehand
    outputs:
      matrix: ${{ steps.mk.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - id: mk
        name: Create matrix from nixosConfigurations
        run: |
          hosts_json=$(nix eval --json .#nixosConfigurations --apply builtins.attrNames)
          # Convert ["a","b"] into {"host":["a","b"]}
          echo "matrix={\"host\":$hosts_json}" >> "$GITHUB_OUTPUT"

  build:
    needs: discover
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.discover.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
      - uses: wimpysworld/nothing-but-nix@main
      - uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v15
        with:
          name: dat-antho-${{ matrix.host }}
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build NixOS system (toplevel)
        run: |
          nix build --accept-flake-config --print-build-logs --no-link \
            .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel

